<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26416" Action="Warning" />
    <Rule Id="C26427" Action="Warning" />
    <Rule Id="C26433" Action="Warning" />
    <Rule Id="C26436" Action="Warning" />
    <Rule Id="C26437" Action="Warning" />
    <Rule Id="C26450" Action="Warning" />
    <Rule Id="C26453" Action="Warning" />
    <Rule Id="C26460" Action="Warning" />
    <Rule Id="C26461" Action="Warning" />
    <Rule Id="C26465" Action="Warning" />
    <Rule Id="C26471" Action="Warning" />
    <Rule Id="C26473" Action="Warning" />
    <Rule Id="C26483" Action="Warning" />
    <Rule Id="C26495" Action="Warning" />
    <Rule Id="C26800" Action="Warning" />
    <Rule Id="C26812" Action="Warning" />
    <Rule Id="C28103" Action="Warning" />
    <Rule Id="C28132" Action="Warning" />
    <Rule Id="C28138" Action="Warning" />
    <Rule Id="C28164" Action="Warning" />
    <Rule Id="C28182" Action="Warning" />
    <Rule Id="C28197" Action="Warning" />
    <Rule Id="C28198" Action="Warning" />
    <Rule Id="C28199" Action="Warning" />
    <Rule Id="C28278" Action="Warning" />
    <Rule Id="C28637" Action="Warning" />
    <Rule Id="C28639" Action="Warning" />
    <Rule Id="C28648" Action="Warning" />
    <Rule Id="C28649" Action="Warning" />
    <Rule Id="C28650" Action="Warning" />
    <Rule Id="C28714" Action="Warning" />
    <Rule Id="C28715" Action="Warning" />
    <Rule Id="C28716" Action="Warning" />
    <Rule Id="C28717" Action="Warning" />
    <Rule Id="C28730" Action="Warning" />
    <Rule Id="C6001" Action="Warning" />
    <Rule Id="C6011" Action="Warning" />
    <Rule Id="C6014" Action="Warning" />
    <Rule Id="C6031" Action="Warning" />
    <Rule Id="C6059" Action="Warning" />
    <Rule Id="C6101" Action="Warning" />
    <Rule Id="C6211" Action="Warning" />
    <Rule Id="C6214" Action="Warning" />
    <Rule Id="C6215" Action="Warning" />
    <Rule Id="C6216" Action="Warning" />
    <Rule Id="C6217" Action="Warning" />
    <Rule Id="C6219" Action="Warning" />
    <Rule Id="C6220" Action="Warning" />
    <Rule Id="C6221" Action="Warning" />
    <Rule Id="C6225" Action="Warning" />
    <Rule Id="C6226" Action="Warning" />
    <Rule Id="C6230" Action="Warning" />
    <Rule Id="C6235" Action="Warning" />
    <Rule Id="C6236" Action="Warning" />
    <Rule Id="C6237" Action="Warning" />
    <Rule Id="C6239" Action="Warning" />
    <Rule Id="C6240" Action="Warning" />
    <Rule Id="C6244" Action="Warning" />
    <Rule Id="C6246" Action="Warning" />
    <Rule Id="C6259" Action="Warning" />
    <Rule Id="C6260" Action="Warning" />
    <Rule Id="C6268" Action="Warning" />
    <Rule Id="C6269" Action="Warning" />
    <Rule Id="C6276" Action="Warning" />
    <Rule Id="C6281" Action="Warning" />
    <Rule Id="C6282" Action="Warning" />
    <Rule Id="C6285" Action="Warning" />
    <Rule Id="C6286" Action="Warning" />
    <Rule Id="C6287" Action="Warning" />
    <Rule Id="C6288" Action="Warning" />
    <Rule Id="C6289" Action="Warning" />
    <Rule Id="C6290" Action="Warning" />
    <Rule Id="C6291" Action="Warning" />
    <Rule Id="C6292" Action="Warning" />
    <Rule Id="C6293" Action="Warning" />
    <Rule Id="C6294" Action="Warning" />
    <Rule Id="C6295" Action="Warning" />
    <Rule Id="C6296" Action="Warning" />
    <Rule Id="C6297" Action="Warning" />
    <Rule Id="C6298" Action="Warning" />
    <Rule Id="C6299" Action="Warning" />
    <Rule Id="C6313" Action="Warning" />
    <Rule Id="C6314" Action="Warning" />
    <Rule Id="C6315" Action="Warning" />
    <Rule Id="C6316" Action="Warning" />
    <Rule Id="C6317" Action="Warning" />
    <Rule Id="C6319" Action="Warning" />
    <Rule Id="C6323" Action="Warning" />
    <Rule Id="C6324" Action="Warning" />
    <Rule Id="C6326" Action="Warning" />
    <Rule Id="C6328" Action="Warning" />
    <Rule Id="C6334" Action="Warning" />
    <Rule Id="C6335" Action="Warning" />
    <Rule Id="C6336" Action="Warning" />
    <Rule Id="C6340" Action="Warning" />
    <Rule Id="C6384" Action="Warning" />
    <Rule Id="C6387" Action="Warning" />
    <Rule Id="C6388" Action="Warning" />
  </Rules>
</RuleSet>